.sidebar
  .logo-area.text-center.mb-4 Abdullah
  ul.links-area.list-unstyled
    li
      ion-icon(name="pulse-outline" class="position-relative text-warning")
      a(href="#" class="text-light p-2 d-inline-block lead") Homepage
    li.has-sub.overflow-hidden
      ion-icon(name="pulse-outline" class="position-relative text-warning")
      a(href="#" class="text-light p-2 d-inline-block lead") Forms
      ion-icon(name="chevron-forward-outline" class="chevron-forward-outline position-relative float-right text-warning mr-2")
      ul.sub-links.list-unstyled.position-relative
        li: a(href="#" class="text-white-50 p-2 pl-4 d-block") Input
        li: a(href="#" class="text-white-50 p-2 pl-4 d-block") Checkbox
        li: a(href="#" class="text-white-50 p-2 pl-4 d-block") Radio
        li: a(href="#" class="text-white-50 p-2 pl-4 d-block") Textarea
    li.has-sub.overflow-hidden
      ion-icon(name="pulse-outline" class="position-relative text-warning")
      a(href="#" class="text-light p-2 d-inline-block lead") Misc
      ion-icon(name="chevron-forward-outline" class="chevron-forward-outline position-relative float-right text-warning mr-2")
      ul.sub-links.list-unstyled.position-relative
        li: a(href="#" class="text-white-50 p-2 pl-4 d-block") Loading
        li: a(href="#" class="text-white-50 p-2 pl-4 d-block") Sliding