$themes: (
  warning-theme: (
    baloot: #ffc107,
  ),
  primary-theme: (
    baloot: #007bff,
  ),
  danger-theme: (
    baloot: #dc3545,
  ),
  info-theme: (
    baloot: #17a2b8,
  ),
);
@each $theme, $map in $themes {
  .#{$theme} {
    $this: map-get($map, baloot) !important;
    .page .sidebar .links-area li a:hover:before {
      background-color: $this;
    }
    header .header-icon ion-icon {
      color: $this;
    }
  }
}
