.page {
  min-height: 100vh;
  .content-area {
    height: 100vh;
    width: calc(100% - 250px);
    transition: 0.3s;
    will-change: width;
    float: right;
    background-color: #20242e;
    &.no-sidebar {
      width: 100%;
    }
  }
}
