* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.page {
  min-height: 100vh;
  .content-area {
    height: 100%;
    width: calc(100% - 250px);
    transition: 0.3s;
    will-change: width;
    float: right;
    &.no-sidebar {
      width: 100%;
    }
  }
}
