- var pageTitle = "Homepage"
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    include ./pug/layout/styles
  body
    .page.home-page
      include ./pug/layout/sidebar
      .content-area Content area
    script(src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js")
