.settings-box {
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 1000;
  background-color: #323a46;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  .cog-icon {
    font-size: 40px;
    position: absolute;
    left: -24px;
    top: 100px;
    background-color: #323a46;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      left: -48px;
    }
  }
  &.show-settings {
    right: 0;
    .cog-icon {
      left: -48px;
    }
  }
  .colors-box {
    ul {
      $colors: #ffc107, #007bff, #dc3545, #17a2b8;
      @for $i from 1 through length($colors) {
        li:nth-child(#{$i}) {
          background-color: nth($colors, $i);
        }
      }
      li {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        opacity: 0.6;
        cursor: pointer;
        display: inline-block;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
