.settings-box {
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 1000;
  background-color: #323a46;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  .cog-icon {
    font-size: 40px;
    position: absolute;
    left: -24px;
    top: 100px;
    background-color: #323a46;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      left: -48px;
    }
  }
  &.show-settings {
    right: 0;
    .cog-icon {
      left: -48px;
    }
  }
}
