.settings-box.p-3
  ion-icon.cog-icon.toggle-settings.d-inline-block.p-1.text-warning(name="cog-outline")
  .settings-content.text-center
    h4.text-warning.mb-4.font-weight-bolder Theme options
    .option-box.colors-box
      h5.text-center Color options
      - var themes = ["warning-theme", "primary-theme", "danger-theme", "info-theme"]
      ul.list-unstyled
        each theme in themes
          li(data-theme=theme)
    hr.border-muted
    .option-box.fonts-box
      h5.text-center.text-primary Font options
      //- - var fonts = ["Comfortaa", "Mulish", "Popppins", "Lato", "Montserrat"]
      //- select.form-control.form-control-lg.bg-transparent.border-0.text-light
      //-   each font in fonts
      //-     option(value=font)=font
    hr.border-muted
    .option-box.sidebar-box
      h5.text-center.text-success Sidebar options