.settings-box.p-3.show-settings
  ion-icon.cog-icon.toggle-settings.d-inline-block.p-1.text-warning(name="cog-outline")
  .settings-content.text-center
    h4.text-warning.mb-4.font-weight-bolder Theme options
    .option-box.colors-box
      h5.text-center Colors option
      - var themes = ["warning-theme", "primary-theme", "danger-theme", "info-theme"]
      ul.list-unstyled
        each theme in themes
          li(data-theme=theme)