.settings-box.p-3
  ion-icon.cog-icon.toggle-settings.d-inline-block.p-1.text-warning(name="cog-outline")
  h4.text-center.text-warning.mb-4 Theme options
  .option-box
    h5.text-center.text-light Colors option
  .option-box
    h5.text-center.text-success Colors option
  .option-box
    h5.text-center.text-info Colors option
  .option-box
    h5.text-center.text-danger Colors option